<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BetterDesktopTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetterDesktopTool.Properties.Settings>
            <setting name="MouseExposeAll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardExposeAll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseSpaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardSpaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseExposeMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardExposeMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseExposeNonMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardExposeNonMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExposeToPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledVirtualDesktops" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyboardSpacesSwitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VirtualDesktopsHorizontal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VirtualDesktopsVertical" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpacesToAllScreen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EdgeExpose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeExposeNonMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeExposeMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeSpaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowActivationBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseExposeApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardExposeApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeExposeApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseExposeDesktop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardExposeDesktop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeExposeDesktop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableOnFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExposeArrangeRegular" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserKeyShortcuts" serializeAs="String">
                <value />
            </setting>
            <setting name="MoveDesktopWindowsByDragging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwitchVirtualDesktopByEdge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchVirtualDesktopByClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTopLevelWindowsOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GestureExpose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeDesktop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeNonMinimized" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeSpaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureExposeSpacesSwitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableMultitouchGestures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCounterGesture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GestureSensitivity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableKeyboardWindowSwitching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRedIndicatorArrow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CornerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GestureTransportWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyTransportWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardSwitchDesktopParticular" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardTransportWindowParticular" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardSendWindowParticular" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimtationSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExposeWithSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableCornersOnMetro" serializeAs="String">
                <value>True</value>
            </setting>
        </BetterDesktopTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
